@model IEnumerable<projetocripto.Models.Impressora>

@{
    ViewData["Title"] = "Impressora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu de Impressora</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Registrar Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.setor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.setor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
               <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">Detalhes</a> |
               <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Editar</a> |
               <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
